{% set icons = {
  'secure-payment': "<i class='fa-solid fa-xl fa-lock'></i>",
  'fast-delivery': "<i class='fa-solid fa-xl fa-truck-fast'></i>",
  'contact': "<i class='fa-solid fa-xl fa-phone'></i>",
  'click-collect': "<i class='fa-solid fa-xl fa-shop'></i>",
  'free-shipping': "<i class='fa-solid fa-xl fa-hand-holding-dollar'></i>",
  'customer-support': "<i class='fa-solid fa-xl fa-headset'></i>",
  'warranty': "<i class='fa-solid fa-xl fa-shield-halved'></i>"
} %}


{% set items = fields.guarantees|slice(0, 4) %}
{% set count = items|length %}

<section class="py-16 px-4 my-8 bg-gray-50">
	<div class="container mx-auto">
		<div class="flex flex-wrap justify-center gap-6 max-w-5xl mx-auto
				                {% if count == 3 %} md:flex-nowrap {% elseif count == 4 %} md:grid md:grid-cols-2 lg:flex {% endif %}">
			{% for item in items %}
				<div class="relative group bg-white shadow-md rounded-lg p-6 flex flex-col items-center text-center w-full sm:w-5/12 md:w-auto transition-transform duration-300">

					{% if item.icon_type == 'custom' and item.custom_icon %}
						<img src="{{ item.custom_icon.url }}" alt="{{ item.title|e }}" class="w-12 h-12 mb-2 z-10 relative object-contain"/>
					{% else %}
						<div class="mb-4 z-10 relative text-primary text-3xl h-10 flex items-center justify-center leading-none">
							{{ icons[item.icon_type]|raw }}
						</div>
					{% endif %}

					<p class="font-semibold text-lg mb-2 z-10 relative">{{ item.title }}</p>
					<p class="text-gray-600 text-sm z-10 relative">{{ item.description }}</p>

					<span class="bar bar-1"></span>
					<span class="bar bar-2"></span>
				</div>
			{% endfor %}

		</div>
	</div>
</section>
