{# acf-blocks/faq/template.twig #}
{% set faqs = fields.faq_items ?? [] %}

{% if faqs %}
<section class="faq-block max-w-3xl mx-auto">
  <div class="space-y-4" x-data="{ open: null }">
    {% for item in faqs %}
      <div class="border border-gray-200 rounded">
        <button
          class="w-full text-left p-4 font-semibold bg-gray-100 hover:bg-gray-200 focus:outline-none"
          @click="open === {{ loop.index }} ? open = null : open = {{ loop.index }}"
        >
          {{ item.question }}
        </button>
        <div
          x-show="open === {{ loop.index }}"
          x-collapse
          class="p-4 bg-white text-gray-700"
        >
          {{ item.answer }}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.plugin(window.collapse);
  });
</script>
{% endif %}
